header, main, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 10vw;
  gap: 1rem;
}

.header__image {
  border-radius: 50%;
  overflow: hidden;
  height: 10rem;
  width: 10rem;
  margin: 0.5rem;
  box-shadow: 0 2.5px 5px 2px var(--blue-dark-200);
}

header p {
  text-align: center;
  font-variant: small-caps;
}

header h1 {
  font-family: var(--cursive-font);
  text-align: center;
  font-size: 3rem;
  line-height: 100%;
  padding: 0.5rem 0;
  letter-spacing: -0.05rem;
}

p {
  font-family: var(--serif-font);
  font-size: 1.25rem;
}

.divider.bottom {
  transform: scaleY(-1)
}

.ab-symbol {
  width: 6rem;
}

/* disable print body */
main.print { display: none; }

@media print {
  body {
    /* temporary visible border, delete for final print */
    box-shadow: 0 0 10px 5px black;
    padding: 0.25in;
  }

  header, main, footer {
    margin: 0;
    gap: 0.125in;
  }

  .header__image {
    height: 1in;
    width: 1in;
    margin: 0;
    box-shadow: 0 0.01in 0.02in 0.01in var(--blue-dark-200);
  }
  
  header {
    gap: 0.1in;
  }

  header h1 {
    font-family: var(--cursive-font);
    font-size: 24pt;
    text-align: center;
    line-height: 100%;
    padding: 0 0;
    letter-spacing: -0.05rem;
  }

  header p {
    font-family: var(--serif-font);
    font-size: 12pt;
    
  }
  
  main.print {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 0.125in;
    margin: 0.1in;
  }

  main p {
    text-align: center;
    font-size: 8pt;
  }

  main .date-time-location {
    font-size: 10pt;
    font-weight: bold;
    font-variant: small-caps;
    margin: 0.125in;
  }

  main .divider-line {
    height: 80%;
    width: 0.02in;
    border-radius: 0.01in;
    background-color: var(--blue-dark-100);
    opacity: 80%
  }
  
  main .online-info {
    display: flex;
    flex-direction: column;
  }
  
  main a, main a:visited {
    color: var(--blue-dark-100);
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt
  }
  
  main .qr-code {
    height: 1in;
  }

  .divider {
    height: 0.25in;
  }

  .ab-symbol {
    width: 0.75in;
  }
  
  /* disable screen body */
  main.screen { display: none; }
}