:root {
  --blue-dark-200: #0D2859;
  --blue-dark-100: #0E347C;
  --blue: #6495ED;
  --blue-light-100: #CCDDFF;
  --blue-light-200: #EBF2FF;
  
  --shadow-grey: #8698BA;
  --white: #ffffff;

  --cursive-font: "MonteCarlo", cursive;
  --serif-font: "Noto Serif KR", serif;
  
  --background-light-color: var(--blue-light-200);
  --background-light-img: url("/images/background.jpg");
  
  --background-dark-color: var(--blue-light-100);
  --background-dark-img: url("/images/background-dark.jpg");
  
  --button-border-radius: 0.5rem;
  --card-border-radius: 2rem;
  
  --standard-page-width: min(80vw, 25rem);
}

* {
  font-family: var(--serif-font);
  color: var(--blue-dark-100);
}

body {
  background-color: var(--background-light-color);
  background-image: var(--background-light-img);
}

header, main, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 10vw;
}

footer {
  gap: 1rem;
}

button, a {
  color: #0d2859;
  font-family: var(--serif-font);
  font-size: 1.25rem;
  font-variant: small-caps;
  font-weight: 900;
  text-decoration: none;
  
  align-self: center;
  
  padding: 0.5rem .75rem;
  
  background-color: var(--background-dark-color);
  background-image: var(--background-dark-img);
  
  border: none;
  border-radius: var(--button-border-radius);
  
  box-shadow: 0 0 4px 1px var(--shadow-grey);
  transition: box-shadow 0.15s ease;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

p {
  letter-spacing: 0.025rem;
}

button:hover, a:hover {
    box-shadow: 0 0 8px 1px var(--shadow-grey);
}

input, textarea {
  border: 1px solid var(--blue);
  border-radius: 4px;
  background-color: var(--white);
  color: var(--blue-dark-100);
  padding: 0.25rem;
}

.divider {
  width: 15rem;
}

.divider.bottom {
  transform: scaleY(-1)
}

.subdivider {
  width: 10rem;
}

.dot-divider {
  width: 2.5rem;
}

.ab-symbol {
  width: 6rem;
}

.loading-bar-wrapper {
  height: 0.5rem;
  width: 75%;
  border-radius: 0.25rem;
}

.loading-bar {
  display: block;
  height: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--blue-dark-100);
  
  animation: 2.5s ease-in-out alternate infinite bounce;
}

@keyframes bounce {
  0% {
    margin-left: 0%;
    width: 10%;
  }
  
  50% {
    margin-left: 30%;
    width: 40%;
  }
  
  100% {
    margin-left: 90%;
    width: 10%;
  }
}

@media print {
	:root {
		--page-width: 5in;
    --page-height: 7in;
	}
  
  @page {
    size: var(--page-width) var(--page-height);
    margin: 0;
  }

	body {
		width: var(--page-width);
		height: var(--page-height);
	}
}