:root {
  --blue-dark-200: #0D2859;
  --blue-dark-100: #0E347C;
  --blue: #6495ED;
  --blue-light-100: #CCDDFF;
  --blue-light-200: #EBF2FF;
  
  --shadow-grey: #8698BA;
  --white: #ffffff;

  --cursive-font: "MonteCarlo", cursive;
  --serif-font: "Noto Serif KR", serif;
  
  
  --background-light-color: var(--blue-light-200);
  --background-light-img: url("/images/background.jpg");
  
  --background-dark-color: var(--blue-light-100);
  --background-dark-img: url("/images/background-dark.jpg");
  
  --button-border-radius: 0.5rem;
  --card-border-radius: 2rem;
}

* {
  font-family: var(--serif-font);
}

body {
  background-color: var(--background-light-color);
  background-image: var(--background-light-img);
}

h1, h2, h3, h4, h5, h6, p, li, label {
  color: var(--blue-dark-100);
}

@media print {
	:root {
		--page-width: 5in;
    --page-height: 7in;
	}
  
  @page {
    size: var(--page-width) var(--page-height);
    margin: 0;
  }

	body {
		width: var(--page-width);
		height: var(--page-height);
	}
}