:root {
  --blue-dark-200: #0D2859;
  --blue-dark-100: #0E347C;
  --blue: #6495ED;
  --blue-light-100: #CCDDFF;
  --blue-light-200: #EBF2FF;

  --cursive-font: "MonteCarlo", cursive;
  --serif-font: "Noto Serif KR", serif;
}

body {
  background-color: var(--blue-light-200);
  background-image: url("/images/background-a.jpg");
}

h1, h2, h3, h4, h5, h6, p, li {
  color: var(--blue-dark-100);
}